[Unit]
Description = Lusternia API Livefeed Discord Bot
Requires=network.target

[Service]
User=deploy
WorkingDirectory=/home/deploy/livefeed
ExecStart=/home/deploy/.gvm/pkgsets/go1.8.1/global/bin/ada-bot
Restart=always

[Install]
WantedBy=multi-user.target
